<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <h1>ECサイト</h1>
  </header>
  
    <h1 class="registerTitle">新規登録</h1>
  <div class="registerContainer">
   
  <form action="/ecsite/register" method="post" class="registerForm">
    <p>ユーザー名:<input type="text" name="userName"></p>
    <p style="display:none;">フルネーム:<input type="text" name="fullName" value="" readonly></p> <!-- 非表示のフルネームの入力フィールド -->
    <p>パスワード:<input type="password" name="password"></p>
    
    <input type="submit" value="登録する">
  </form>
  
  <!-- 登録結果のメッセージを表示 -->
  <div th:if="${message}">
    <p th:text="${message}"></p>
  </div>
  
  </div>
  
</body>
</html>
